.categorias-container {
  max-width: 700px;
  margin-left: 180px;
  background-color: #ffffff;
  padding: 150px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.categorias-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: #000000;
}

.categorias-form {
    display: flex;
    gap: 20px; 
    margin-bottom: 30px;
    flex-wrap: wrap; 
    justify-content: center;
}

.categorias-form input {
    flex: 1; 
    min-width: 200px;
    padding: 10px 15px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
}

.categorias-form input::placeholder {
    color: rgb(0, 0, 0);
    font-style: italic;
}


.categorias-form button {
    padding: 10px 20px;
    background: linear-gradient(135deg, #0536a0, #07a3fd);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.categorias-form button:hover {
  background-color: #003bb5;
}

.categorias-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(218, 218, 218, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.categorias-table th,
.categorias-table td {
  padding: 12px 15px;
    text-align: left;
    width: 200px;
    
}

/* Campos tabla */
.categorias-table th {
  background: #2b6cb0;
    color: white;
    font-weight: 600;
    text-align: center;
}

.btn-edit {
  background-color: #28a745;
  border: none;
  padding: 6px 12px;
  margin-right: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.categorias-table button:first-child:hover {
    background-color: #02e947;
}


.btn-delete {
  background-color: #ff0019;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.categorias-table button:last-child:hover {
    background-color: #f87474;
}


::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}
