.dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  font-family: "Segoe UI", sans-serif;
  color: #000000;
  overflow: hidden;
}

    .sidebar {
    width: 250px;
    background: linear-gradient(135deg, #0536a0, #000000);  
    box-shadow: 2px 0 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    position: relative;
    
}

.sidebar.collapsed {
  width: 70px;
}

.collapse-bar {
  position: absolute;
  top: 50%;
  right: -10px; 
  transform: translateY(-50%);
  width: 10px;
  height: 60px;
  background: #fcfcfc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.collapse-bar:hover {
  background: #063866;
  width: 12px;
}

/* Header */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.sidebar-logo {
  font-size: 24px;
  margin: 0;
}

.toggle-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: 10;
  flex: 1;
  padding: 10px 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 18px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 8px;
  margin: 4px 10px;
}

.sidebar-item:hover {
  background: #ffffff;
  color: #000000;
}

.sidebar-footer {
  padding: 15px;
}

.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-header {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  padding: 15px;
}

.sidebar-header .logo {
  width: 70px;  
  height: 70px;
  object-fit: cover;
   border-radius: 50%;
    margin-top: 20px;
}

.sidebar-header h3 {
  margin: 10;
  margin: 10px 0 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(253, 255, 253);
}

.sidebar-header img {
  width: 60px;  
  height: 60px;
  object-fit: contain;
}



