
.table-rol {
    max-width: 700px;
    margin: 50px, auto;
    margin-left: 200px;
    padding: 120px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.table-rol h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #000000;
}

.table-rol form {
    display: flex;
    gap: 20px; 
    margin-bottom: 30px;
    flex-wrap: wrap; 
    justify-content: center;
}

.table-rol input {
    flex: 1; 
    min-width: 200px;
    padding: 10px 15px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
}

.table-rol input::placeholder {
    color: rgb(0, 0, 0);
    font-style: italic;
}


.table-rol .btn-Crear {
    padding: 10px 20px;
    background: linear-gradient(135deg, #0536a0, #07a3fd);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.table-rol .btn-Crear:hover {
    background-color: #003bb5;
}


.table-roles {
    overflow-x: auto;
    margin-top: 20px;
}


.roles-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(218, 218, 218, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.roles-table th,
.roles-table td {
    padding: 12px 15px;
    text-align: left;
    width: 300px;
}

.roles-table th {
    background: #2b6cb0;
    color: white;
    font-weight: 600;
    text-align: center;
}


.roles-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


.roles-table tbody tr:hover {
    background-color: #e0e7ff;
}


.roles-table button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s;
}

.roles-table button:first-child {
    background-color: #28a745;
}

.roles-table button:first-child:hover {
    background-color: #02e947;
}

.roles-table button:last-child {
    background-color: #ff0019;
}

.roles-table button:last-child:hover {
    background-color: #f87474;
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}
