.h1{
    color: black;
    font-size: 25px;
}

.dashboard-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: rgb(217, 219, 219);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center; 
  margin-left: 80px;
}


.dashboard-charts {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center; 
}

.chart {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.scroll-chart {
  max-height: 450px; 
  overflow-y: auto;  
}

.btn-estado {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-estado:hover {
  background-color: #0056b3;
}

.activo {
  color: green;
  font-weight: bold;
}

.inactivo {
  color: red;
  font-weight: bold;
}

