.usuarios-table-wrapper {

  border: 1px solid #ddd;
  border-radius: 6px;
  width: 90%;
  padding: 20px;
  margin-left: 40px;
  
}

.usuarios-table {
  max-width: 400%;
  border-collapse: collapse;
  table-layout: fixed;
  
  
}

.usuarios-table th,
.usuarios-table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 257px;
}

.usuarios-table th {
  background: #2b6cb0;
  color: white;
  position: sticky;
  top: 0;
  text-align: center;
  
}
/*
@media screen and (max-width: 768px) {
  .usuarios-form input,
  .usuarios-form select,
  .btn-guardar {
    width: 90%;
    margin-left: 5%;
  }
  .usuarios-table th,
  .usuarios-table td {
    padding: 6px 8px;
    font-size: 12px;
  }
}

*/
.usuarios-table tr:hover {
  background-color: #f1f5f9;
}

.usuarios-table button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.usuarios-table button:first-child {
  background-color: #28a745;
  color: #fff;
}

.usuarios-table button:first-child:hover {
  background-color: #02e947;
}

.usuarios-table button:last-child {
  background-color: #ff0019;
  color: #fff;
}

.usuarios-table button:last-child:hover {
  background-color: #f87474;
}

.usuarios-table button:hover {
  opacity: 0.85;
}

.usuarios-container {
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 8px;
  color: #000000;
  text-align: center;
}

.usuarios-form label {
  margin-left: 20px;
  color: #000000;
  font-size: 16px;
  text-align: center;
}

.usuarios-form input,
.usuarios-form select {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px;
  color: #000000;
  background-color: #fffffffa;
  margin-left: 10px;
}

.usuarios-form input.has-value,
.usuarios-form select.has-value {
  background-color: #079bfd;
}

.usuarios-form input:focus,
.usuarios-form select:focus {
  outline: none;
  border-color: #006fdd;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
  background-color: #ffffff;
}

.btn-guardar {
  margin-top: 15px;
  margin-left: 20px;
  background: linear-gradient(135deg, #0596da, #0434cf);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.usuarios-container p {
    
    color: rgb(255, 0, 0);
    font-weight: 500;
    margin-bottom: 20px;
}


.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
  margin-right: 90px;
}

.paginacion button {
  padding: 6px 12px;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
  background-color: #00a2ff;
  
}

.paginacion span {
  font-weight: bold;
}

body {
  background-color: #ffffff;  
}



::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}

.usuarios-container h3 {
  text-align: left;
}

.usu-buscador {
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 15px;
    font-size: 15px;
    margin-left: 900px;
    width: 250px;

}

.usu-buscador::placeholder {
    color: #000000;
}